In [1]:
import datetime

In [2]:
datetime.date.today()

datetime.date(2019, 7, 21)

In [3]:
print(datetime.date.today())

2019-07-21

In [5]:
#date(year, month, day)
dt = datetime.date(2019,7,21)
print(dt)

2019-07-21

In [6]:
dt.day

21

In [7]:
dt.month

7

In [8]:
dt.year

2019

You can customize the format of dates by defining the date formats using "strftime" method. It converts date objects to strings.

In [11]:
dt.strftime("%d-%m-%Y")

'21-07-2019'

***%d **refers to day of the month. In 20-10-2019, %d returns 20.;
***%m **refers to month of the year. In 20-10-2019, %m returns 10.;
***%Y **refers to year. The letter 'Y' is in upper case. In 20-10-2019, %Y returns 2019.;
***%y **refers to year in two-digit format. In 20-10-2019, %y returns 19.;

***Other popular format codes ◾%a returns the first three letter of the weekday Sun;
***◾%A returns the complete name of the weekday Sunday;
***◾%b returns the first three letters of the month Oct;
***◾%B returns the complete name of the month October;

In [12]:
dt.strftime("%d/%m/%Y")

'21/07/2019'

In [13]:
dt.strftime("%b %d, %Y")

'Jul 21, 2019'

In [14]:
dt.strftime("%B %d, %Y")

'July 21, 2019'

In [15]:
dt.strftime("%a %B %d, %Y")

'Sun July 21, 2019'

In [16]:
dt.strftime("%A %B %d, %Y")

'Sunday July 21, 2019'

In [17]:
dt.strftime("%A, %B %d, %Y")

'Sunday, July 21, 2019'

In [18]:
#datetime.time(hour, minute, second, microseconds)
t = datetime.time(21, 2, 3)
print(t)

21:02:03

In [19]:
#How to get hour, minute and seconds from time values
t.hour

21

In [20]:
t.minute

2

In [21]:
t.second

3

In [22]:
t.microsecond

0

In [23]:
#How to convert time to AM PM format
#◾%I converts 24 hour time format to 12 hour format.
#◾%p returns AM PM based on time values.
#◾%H returns hours of the time value.
#◾%M returns minutes of the time value.
#◾%S returns seconds of the time value.
t.strftime("%I:%M %p")

'09:02 PM'

In [24]:
#Handle both dates and time
#datetime library has another class named datetime.datetime class which is used to represent date plus time. 
#You can call it timestamp.
#now() or today() method of datetime class is used to extract current date and time.

In [25]:
dt = datetime.datetime.now()
print(dt)

2019-07-21 23:28:45.406452

In [26]:
# %c represents locale date and time. %X represents locale time.
dt.strftime("%c")

'Sun Jul 21 23:28:45 2019'

In [27]:
dt.strftime("%A %B %d %X")

'Sunday July 21 23:28:45'

In [28]:
dt.strftime("%A %B %d %H:%M")

'Sunday July 21 23:28'

In [29]:
#Create datetime object
#The syntax of datetime class is as follows-
#datetime(year, month, day, hour, minute, second, microsecond)
dt = datetime.datetime(2019, 7, 20, 10, 51, 0)
print(dt)

2019-07-20 10:51:00

In [30]:
#How to convert a string to datetime in python?
from dateutil.parser import parse

In [31]:
print(parse('March 01, 2019'))

2019-03-01 00:00:00

In [32]:
#How to get current time?
#We can use the same function we used in the previous section and extract time from the returned value using time() method
print(dt.time())

10:51:00

In [33]:
#How to get current day of the week?
#Suppose you want to extract the day number. 1 for Monday and 7 for Sunday. 
#In the example below it returns 6 as it's Saturday on 20th July, 2019. 
dt.isoweekday()

6

In [34]:
#Calculate future or past dates
#With the use of "timedelta", you can add or subtract 
#days, weeks, hours, minutes, seconds, microseconds and milliseconds.
#It is very useful when you want to calculate future or past dates. 
#Suppose you are asked to identify all the customers who enrolled to product in the last 30 days.
#To solve this, you need to compute the date which is 30 days before the today's date. 
#30 days ahead
delta = datetime.timedelta(days=30)
print(dt + delta)
#30 days back
print(dt - delta)

delta = datetime.timedelta(days= 10, hours=3, minutes=30, seconds=30)
print(dt + delta)

delta = datetime.timedelta(weeks= 4, hours=3, minutes=30, seconds=30)
print(dt + delta)

2019-08-19 10:51:00
2019-06-20 10:51:00
2019-07-30 14:21:30
2019-08-17 14:21:30

In [35]:
#In timedelta, months and years options are missing which means 
#you cannot calculate future dates increment by month(s) or year(s). 
#To accomplish this task, we can use "dateutil" package. 
#Let's import this package by submitting the code below
from dateutil.relativedelta import *

In [36]:
#1 Month ahead
print(dt + relativedelta(months=+1))

2019-08-20 10:51:00

In [37]:
#1 Month Back
print(dt + relativedelta(months=-1))

2019-06-20 10:51:00

In [38]:
#If you are wondering how this relativedelta(months=+1) is different from datetime.timedelta(days=30), 
#observe the returned values (result) of both the commands. 
#Since July has 31 days, 30 days ahead using this datetime.timedelta(days=30) returns 2019-08-19 10:51:00.
#relativedelta(months=+1) returns 2019-08-20 10:51:00 which is a complete 1 month. 
print(dt + relativedelta(months=+1, weeks=+1))

2019-08-27 10:51:00

In [39]:
#Next Year
print(dt + relativedelta(years=+1))

2020-07-20 10:51:00

In [40]:
#Consider Leap Years
#relativedelta method from dateutil package takes care of leap year while calculating future or past dates.
#Year 2000 was a leap year so there were 29 days in the February month. 
#But next year has only 28 days in February. 
print(datetime.date(2000, 2, 29)+ relativedelta(years=+1))

2001-02-28

In [41]:
#Difference between Two Dates
#Suppose you need to calculate the number of days between two dates. 
#It is a very common data problem statement when you need to calculate the tenure of customers given the information 
#- when they opened their account(start date) 
# and when the accounts got closed (end date).
date1 = datetime.date(2020, 10, 25)
date2 = datetime.date(2019, 12, 25)
diff = date1- date2
diff.days

305

In [42]:
#How would you calculate the number of months between two dates?
date1.month - date2.month + 12*(date1.year - date2.year)
#How it works? ◾date1.month - date2.month returns -2
#◾12*(date1.year - date2.year) returns 12
#◾-2 + 12 = 10

10

In [44]:
#How to work with dates on pandas dataframe?
#In real-world, we generally import data from external files and store it in pandas DataFrame. 
#Hence it is important to understand how we perform date and time operations on DataFrame. 
#Let's create a sample dataframe for illustration purpose.
import pandas as pd
df=pd.DataFrame({"A":["2019-01-01", "2019-05-03", "2019-07-03"],
                 "B":["2019-03-02", "2019-08-01", "2019-10-01"] })

In [46]:
df.dtypes

A    object
B    object
dtype: object

In [47]:
df['A'] = pd.to_datetime(df['A'])
df['B'] = pd.to_datetime(df['B'])

In [48]:
df.dtypes

A    datetime64[ns]
B    datetime64[ns]
dtype: object

In [50]:
#In order to calculate the number of days using columns A and B on pandas dataframe
#, you just need to take a difference of these two columns. 
df['C'] = df['B'] - df['A']
print(df)

           A          B       C
0 2019-01-01 2019-03-02 60 days
1 2019-05-03 2019-08-01 90 days
2 2019-07-03 2019-10-01 90 days

In [51]:
#The column C we have computed is in datetime format. In order to get the difference value in integer format, 
#you can submit the command below. dt enables pandas to use datetime methods.
df['C'] = (df['B'] - df['A']).dt.days

In [52]:
df

           A          B   C
0 2019-01-01 2019-03-02  60
1 2019-05-03 2019-08-01  90
2 2019-07-03 2019-10-01  90

In [53]:
#Get 3 months past date
#The pure pythonic way is to define function in lambda and it runs on all the rows.
from dateutil.relativedelta import *
df['D'] = df["B"].apply(lambda x: x - relativedelta(months=3))

In [54]:
df

           A          B   C          D
0 2019-01-01 2019-03-02  60 2018-12-02
1 2019-05-03 2019-08-01  90 2019-05-01
2 2019-07-03 2019-10-01  90 2019-07-01

In [55]:
#Another way is to use built-in function DateOffset of pandas package which adds or subtracts 
#days, months, years, weeks, hours, minutes, seconds, microseconds and nanoseconds.
df['D1'] = df['B'] - pd.DateOffset(months=3)

In [56]:
df

           A          B   C          D         D1
0 2019-01-01 2019-03-02  60 2018-12-02 2018-12-02
1 2019-05-03 2019-08-01  90 2019-05-01 2019-05-01
2 2019-07-03 2019-10-01  90 2019-07-01 2019-07-01

In [57]:
#Filtering dataframe by date
#Suppose you want to select only those rows where column B has values greater than 1st May, 2019.
df[df['B']>datetime.datetime(2019,5,1)]

           A          B   C          D         D1
1 2019-05-03 2019-08-01  90 2019-05-01 2019-05-01
2 2019-07-03 2019-10-01  90 2019-07-01 2019-07-01

In [58]:
#Select Data between two dates
#Suppose you want to select rows from pandas dataframe between 
#two dates (let's say between 1st May and 30th September).
df[df.B.between(datetime.datetime(2019,5,1), datetime.datetime(2019,9,30))]

           A          B   C          D         D1
1 2019-05-03 2019-08-01  90 2019-05-01 2019-05-01

In [59]:
df[(df['B'] > datetime.datetime(2019,5,1)) & (df['B'] < datetime.datetime(2019,9,30))]

           A          B   C          D         D1
1 2019-05-03 2019-08-01  90 2019-05-01 2019-05-01

In [60]:
#How to work with different timezones
#Manytimes we have date values in different time zones and we need to convert it to our local timezone.
#It is not easy to solve this manually. In python, there is a library called "pytz" for setting and conversion of timezone.
#You can find all the timezones by submitting this command. 
import pytz
pytz.all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [61]:
#To set datetime object in a particular timezone (let's say Asia/Kolkata), you can use the parameter called tzinfo for this.
dt = datetime.datetime(2019, 7, 20, 10, 10, 0, tzinfo=pytz.timezone('Asia/Kolkata'))

In [ ]:
#To convert it to US/Arizona timezone, we can use the method called astimezone for conversion. 
#If you would observe the date has been changed after conversion as difference between these two timezones is more than 12 hours.